/* Global Themes */

html {
  --bg-color: #EDF2FF;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-hover: #364FC7;
}


body.dark {
  --bg-color: #00082F;
  --text-color: #EDF2FF;
}

body.pink {
  --bg-color: #FFF0F6;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-hover: #A61E5D;
}
